@import url("./reset.css");

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'),
    local('Raleway-Regular'),
    url("../fonts/latin/Raleway-Regular.woff2") format("woff2"),
    url("../fonts/latin/Raleway-Regular.woff") format("woff"),
    url("../fonts/latin/Raleway-Regular.eot") format("embedded-opentype"),
    url("../fonts/latin/Raleway-Regular.ttf") format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    font-display: fallback;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'),
    local('Raleway-Regular'),
    url("../fonts/latin-ext/Raleway-Regular.woff2") format("woff2"),
    url("../fonts/latin-ext/Raleway-Regular.woff") format("woff"),
    url("../fonts/latin-ext/Raleway-Regular.eot") format("embedded-opentype"),
    url("../fonts/latin-ext/Raleway-Regular.ttf") format("truetype");
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    font-display: fallback;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'),
    local('Raleway-Bold'),
    url("../fonts/latin/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/latin/Raleway-Bold.woff") format("woff"),
    url("../fonts/latin/Raleway-Bold.eot") format("embedded-opentype"),
    url("../fonts/latin/Raleway-Bold.ttf") format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    font-display: fallback;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'),
    local('Raleway-Bold'),
    url("../fonts/latin-ext/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/latin-ext/Raleway-Bold.woff") format("woff"),
    url("../fonts/latin-ext/Raleway-Bold.eot") format("embedded-opentype"),
    url("../fonts/latin-ext/Raleway-Bold.ttf") format("truetype");
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    font-display: fallback;
}

.fonts-loaded body {
    font-family: "Raleway";
}

body {
    font-family: Helvetica, sans-serif;
    color: #595241;

    line-height: 1.4em;
}

/* header */
.header {
    position: fixed;
    z-index: 3;
    top:0;
    left: 0;

    width: 100%;
    padding-top: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;

    background: #B8AE9C;
}

.header__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    width: 100%;
    max-width: 64em;
}

.header__logo {
    height: 2.5em;
}

.header__nav-icon {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    width: 1.75em;
    height: 1.25em;

    cursor: pointer;
}

.header__nav-icon > div {
    content: "";

    width: 100%;
    height: .125em;

    background: #595241;
}

.header__nav-items {
    position: absolute;
    left: 0;
    top: 3.6em;

    display: flex;
    flex-flow: column nowrap;
    width: 100%;

    max-height: 0;
    overflow-y: hidden;
    transition: max-height .5s ease-out;
}

.header__nav-items--show {
    max-height: 9.5em;
}

.header__nav-item {
    padding: .5em;

    color: #595241;
    background: #ACCFCC;

    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

@media (min-width: 64.375em) {
    .header__logo {
        height: 3.5em;
    }

    .header__nav-icon {
        display: none;
    }

    .header__nav-items {
        position: static;
        display: block !important;
    }

    .header__nav-item {
        background: transparent;
    }
}

/* main content layout */
.main-content {
    max-width: 50em;
    margin-top: 2.5em;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0;
    padding-right: 0.5em;
    padding-bottom: 0;
    padding-left: 0.5em;
}

.main-content--overlay {

}

.main-content__section {
    margin-top: 3.5em;
    margin-bottom: 2em;
}

/* mission */
.mission__motto {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 0.5em;

    background-color: rgba(184, 174, 156, .7);

    text-align: center;
    font-size: 1.3em;
}

@media (min-width: 750px) {
    .mission__image {
        background-image: url(../images/bench.jpeg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 0;
        padding-top: 25%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-width: 750px) {
    .mission__image {
        background-image: url(../images/bench@2x.jpeg);
    }
}

.main-content__section-header {
    margin-bottom: 1em;

    color: #8A0917;

    font-size: 1.25em;
    font-weight: 700;
}

/* our work */
.portfolio__list {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 2em;
}

.portfolio__item {
    width: 50%;
    padding: 0.2em;
}

.working img {
    width: 100%;;
}
